
<!DOCTYPE html>
<html lang="fr">
<head>
    <style>
        body {
            color: white;
            font-size: 20px;
            background-color: transparent;
        }
    </style>
</head>
<body>

"A devastating natural catastrophe, specifically a tsunami, has struck the studio responsible for creating the One Piece scans, causing a significant delay in the release of Chapter 1147. Unfortunately, this means that fans will have to wait approximately 39 months for the next scan to become available. Contrary to some rumors, the delay is not due to laziness on the part of the Japanese studio, but rather an unfortunate consequence of this unforeseen disaster."</body>
</html>
